@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Custom_CSS/BasicStyles_Div.css" rel="stylesheet" />

<div class="container text-center Bordes-Sombreados-1" >

    <div class="container">
        <h1>Poke Juego</h1>
        <p class="lead">Un jogo de navegador hecho por mi porque si xd </p>
    </div>

    <div class="container">
        <img src="~/Assets/GIFS/Pik-Achooo.gif" />


    </div>
    <br />
    <div class="container">
        <a href="@Url.Action("Index", "Pokemon")" class="btn btn-warning btn-lg">Jugar &raquo;</a>
    </div>
    <br />

</div>
